# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

# Generated locally by 01-prepare.py. This is NOT the Google client secret.
FASTMCP_SERVER_AUTH_GOOGLE_JWT_SIGNING_KEY=
