# =============================================================================
# Stack4 - Gitea
# =============================================================================

STACKS_ROOT=/opt/docker/stacks
BASE_PATH=/opt/docker/runtime

GITEA_IMAGE=docker.gitea.com/gitea:1.27.1-rootless
GITEA_CONTAINER_NAME=gitea
GITEA_UID=1000
GITEA_GID=1000

GITEA_SSH_BIND=0.0.0.0
GITEA_SSH_PORT=2222
GITEA_DOCKER_NETWORK=redlocal

GITEA_DOMAIN=git.casa.lan
GITEA_ROOT_URL=https://git.casa.lan/
GITEA_SSH_DOMAIN=git.casa.lan
GITEA_TIMEZONE=Europe/Madrid

GITEA_INTERNAL_TOKEN=PUT_YOUR_INTERNAL_TOKEN_HERE
GITEA_JWT_SECRET=PUT_YOUR_JWT_SECRET_HERE

GITEA_ADMIN_USERNAME=ea1het
GITEA_ADMIN_EMAIL=ea1het@ea1het.com
GITEA_ADMIN_PASSWORD=PUT_YOUR_ADMIN_PASSWORD_HERE

GITEA_RUNNER_IMAGE=docker.io/gitea/runner:3
GITEA_RUNNER_NAME=runner-standalone
GITEA_RUNNER_INSTANCE_URL=http://gitea:3000/
GITEA_RUNNER_REGISTRATION_TOKEN=PUT_YOUR_REGISTRATION_TOKEN_HERE
